@model Portal.Academia.Web.ViewModels.CoursesViewModel

@if (Model.IsOk)
{
    <div class="jumbotron">
        <h1 class="display-5">Witam <small>@Model.UserEmail</small> !</h1>
        <p class="lead">Dziękuje za zaufanie i zapraszam do udziału w poniższych materiałach edukacyjnych.</p>
        <hr class="my-4">
        <p>W razie jakichkolwiek problemów, sugestii czy wątpliwości, skorzystaj proszę z formularza kontaktowego.</p>
        <a class="btn btn-primary btn-md" href="/contact/@Model.UserGuid/100" role="button">Napisz do mnie</a>
    </div>

    <div class="row">

        @foreach (var course in Model.Courses)
        {
            <div class="col-md-5 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="~/img/cd_gdi_small.png" alt="@course.Name">
                    <div class="card-body">
                        <h2 class="card-title">@course.Name</h2>
                        <p class="card-text text-justify">
                            @course.Description
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="/modules/show/@Model.UserGuid/@course.CourseId" type="button" class="btn btn-primary btn-sm btn-outline-success">Wyświetl</a>
                            <a href="@course.PathMp4" type="button" class="btn btn-secondary btn-sm">Pobierz Wideo</a>
                            <a href="@course.PathMp3" type="button" class="btn btn-info btn-sm">Pobierz Mp3</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
        @Model.Message
        <br /><br />
        <p>
            Jeśli właśnie kupiłeś kurs, poczekaj na mail z potwierdzeniem. <br /><br />
            Jeśli potrzebujesz pomocy odezwij się poprzez <a href="https://cryptodev.tv/kontakt/0">formularz</a>.
        </p>
    </div>
}